<!DOCTYPE html>
<html>
<head>
    <title>Ajouter une donnée de capteur</title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
</head>
<body>
  <header>
    <h1>CRUD Données de capteur</h1>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Accueil</a></li>
            <li><a href="{% url 'liste_donnees' %}">Liste des données de capteurs</a></li>
            <li><a href="{% url 'ajouter_donnee' %}">Ajouter une donnée de capteur</a></li>
        </ul>
    </nav>
  </header>
  {% block content %}
    <div class="container">
      <h2 class="form-title">Ajouter un capteur</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ajouter</button>
      </form>
    </div>    
    {% endblock %}
</body>
</html>
