<!DOCTYPE html>
<html>
<head>
    <title>Modifier un capteur</title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
</head>
<body>
  <header>
    <h1>Accueil du CRUD Capteur</h1>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Accueil</a></li>
            <li><a href="{% url 'liste_capteurs' %}">Liste des capteurs</a></li>
            <li><a href="{% url 'ajouter_capteur' %}">Ajouter un capteur</a></li>
        </ul>
    </nav>
</header>
  {% block content %}
  <div class="container">
    <h2 class="form-title">Modifier un capteur</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Modifier</button>
    </form>
  </div>  
  {% endblock %}
</body>
</html>
