<!DOCTYPE html>
<html>
<head>
    <title>Supprimer une donnée</title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
</head>
<body>
  <header>
    <h1>Accueil du CRUD Données de capteur</h1>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Accueil</a></li>
            <li><a href="{% url 'liste_donnees' %}">Liste des données</a></li>
            <li><a href="{% url 'ajouter_donnee' %}">Ajouter une donnée</a></li>
        </ul>
    </nav>
</header>
    {% block content %}
    <div class="container">
      <h2 class="supprimer-donnee-title">Supprimer la donnée</h2>
      <p>Êtes-vous sûr de vouloir supprimer la donnée "{{ donnee.nom }}" ?</p>
      <form method="POST">
        {% csrf_token %}
        <button type="submit">Confirmer la suppression</button>
        <a href="{% url 'liste_donnees' %}" class="btn-cancel">
          <button id="ann" type="button"><span class="arrow">&#8592;</span> Annuler</button>
        </a>
      </form>
    </div>
    {% endblock %}
</body>
</html>
