<!DOCTYPE html>
<html>
<head>
    <title>Ajouter un enseignant</title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
</head>
<body>
  <header>
    <h1>Accueil du CRUD Enseignant</h1>
    <nav>
        <ul>
            <li><a href="{% url 'accueil' %}">Accueil</a></li>
            <li><a href="{% url 'liste_enseignants' %}">Liste des enseignants</a></li>
            <li><a href="{% url 'ajouter_enseignant' %}">Ajouter un enseignant</a></li>
            <!-- Ajoutez ici d'autres liens de navigation -->
        </ul>
    </nav>
</header>
    {% block content %}
      <div class="container">
        <h2 class="form-title">Ajouter un enseignant</h2>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" name="nom" id="nom" required>
          </div>
          <div class="form-group">
            <label for="prenom">Prénom:</label>
            <input type="text" name="prenom" id="prenom" required>
          </div>
          <button type="submit">Ajouter</button>
        </form>
      </div>
    {% endblock %}
</body>
</html>
