<!DOCTYPE html>
<html>
<head>
    <title>Ajouter un étudiant</title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
</head>
<body>
  <header>
    <h1>Accueil du CRUD Etudiant</h1>
    <nav>
        <ul>
            <li><a href="{% url 'accueil' %}">Accueil</a></li>
            <li><a href="{% url 'liste_etudiants' %}">Liste des étudiants</a></li>
            <li><a href="{% url 'ajouter_etudiant' %}">Ajouter un étudiant</a></li>
            <!-- Ajoutez ici d'autres liens de navigation -->
        </ul>
    </nav>
</header>
    {% block content %}
      <div class="container">
        <h2 class="form-title">Ajouter un étudiant</h2>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="numero_etudiant">Numéro étudiant:</label>
            <input type="number" name="numero_etudiant" id="numero_etudiant" required>
          </div>
          <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" name="nom" id="nom" required>
          </div>
          <div class="form-group">
            <label for="prenom">Prénom:</label>
            <input type="text" name="prenom" id="prenom" required>
          </div>
          <div class="form-group">
            <label for="groupe">Groupe:</label>
            <input type="text" name="groupe" id="groupe" required>
          </div>
          <div class="form-group">
            <label for="photo">Photo:</label>
            <input type="file" name="photo" id="photo">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
          </div>
          <button type="submit">Ajouter</button>
        </form>
      </div>
    {% endblock %}
</body>
</html>
