<!DOCTYPE html>
<html>
<head>
    <title>Ajouter une ressource</title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
</head>
<body>
  <header>
    <h1>Accueil du CRUD Ressource</h1>
    <nav>
        <ul>
            <li><a href="{% url 'accueil' %}">Accueil</a></li>
            <li><a href="{% url 'liste_ressources' %}">Liste des ressources</a></li>
            <li><a href="{% url 'ajouter_ressource' %}">Ajouter une ressource</a></li>
        </ul>
    </nav>
</header>
    {% block content %}
      <div class="container">
        <h2 class="form-title">Ajouter une ressource</h2>
        <form method="post" action="{% url 'ajouter_ressource' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="code_ressource">Code de la ressource:</label>
            <input type="text" name="code_ressource" id="code_ressource" required>
          </div>
          <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" name="nom" id="nom" required>
          </div>
          <div class="form-group">
            <label for="descriptif">Descriptif:</label>
            <textarea name="descriptif" id="descriptif" required></textarea>
          </div>
          <div class="form-group">
            <label for="coefficient">Coefficient:</label>
            <input type="number" name="coefficient" id="coefficient" required>
          </div>
          <button type="submit">Ajouter</button>
        </form>
      </div>
    {% endblock %}
</body>
</html>
