<!DOCTYPE html>
<html>
<head>
    <title>Liste des ressources</title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<header>
    <h1>Accueil du CRUD Ressource</h1>
    <nav>
        <ul>
            <li><a href="{% url 'accueil' %}">Accueil</a></li>
            <li><a href="{% url 'liste_ressources' %}">Liste des ressources</a></li>
            <li><a href="{% url 'ajouter_ressource' %}">Ajouter une ressource</a></li>
            <!-- Ajoutez ici d'autres liens de navigation -->
        </ul>
    </nav>
</header>

{% block content %}
<div class="container">
    <h2 class="liste-ressources-title">Liste des ressources</h2>
    <table>
        <thead>
        <tr>
            <th>Code de la ressource</th>
            <th>Nom</th>
            <th>Descriptif</th>
            <th>Coefficient</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ressource in ressources %}
        {% if ressource.code_ressource %}
        <tr>
            <td>{{ ressource.code_ressource }}</td>
            <td>{{ ressource.nom }}</td>
            <td>{{ ressource.descriptif }}</td>
            <td>{{ ressource.coefficient }}</td>
            <td>
                <a href="{% url 'modifier_ressource' ressource.code_ressource %}">
                    <i class="fas fa-edit">____</i>
                </a>
                <a href="{% url 'supprimer_ressource' ressource.code_ressource %}">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

</body>
</html>
