<!DOCTYPE html>
<html>
<head>
    <title>Supprimer une ressource</title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
</head>
<body>
  <header>
    <h1>Accueil du CRUD Ressource</h1>
    <nav>
        <ul>
            <li><a href="{% url 'accueil' %}">Accueil</a></li>
            <li><a href="{% url 'liste_ressources' %}">Liste des ressources</a></li>
            <li><a href="{% url 'ajouter_ressource' %}">Ajouter une ressource</a></li>
            <!-- Ajoutez ici d'autres liens de navigation -->
        </ul>
    </nav>
</header>
    {% block content %}
    <div class="container">
      <h2 class="supprimer-ressource-title">Supprimer la ressource</h2>
      <p>Êtes-vous sûr de vouloir supprimer la ressource "{{ ressource.nom }}" ?</p>
      <form method="POST">
        {% csrf_token %}
        <button type="submit">Confirmer la suppression</button>
        <a href="{% url 'liste_ressources' %}" class="btn-cancel">
          <button id="ann" type="button"><span class="arrow">&#8592;</span> Annuler</button>
        </a>
      </form>
    </div>
    {% endblock %}
</body>
</html>
